.addpost {
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.addpost__top {
    display: flex;
    text-align: center;
    flex: 1;
    padding-bottom: 10px;

}

.addpost__bottom {
    margin-left: 10px;
}

.addpost__top form {
    margin: 10px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 20px;
    margin-left: 10px;
    width: 100%;
}

.addpost__top form input {
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.MuiAvatar-root {
    margin: 10px 0px 10px 10px;
}

.paper {
    position: relative;
    width: 30%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
}

.iconclose {
    position: absolute;
    top: 0;
    right: 0;
}

.modalHeading {
    text-align: center;
    height: 40px;
}

.modal__footer {
    display: flex;
}

.modalHeading .MuiIconButton-root {
    position: absolute;
    top: 0px;
    right: 5px;
}

.modal__top {
    display: flex;
    padding: 15px 0px;
    align-items: center;
}

.modal__body textarea {
    width: 100%;
    min-height: 100px;
    border: 0px;
    font-size: 25px;
    padding-top: 10px 0px;
    letter-spacing: 1px;
}

.modal__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 20px;
}

.modal__footer__left {
    padding-left: 10px;
    font-weight: 500;
  
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__footer11 {
    width: 100%;
    background-color: rgb(138, 162, 235);
}
.Garage{
    width: 96%;
    margin: 2% !important;
}
.error-message {
   font-weight: 100;
   font-size: 15px;
  }