 .container{
    width: 100%;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    display: flex ;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    flex-wrap: wrap ;
}
.title{
    max-width: 1000px;
    font-size: 18px;
    font-weight: 400;
    /* text-align: left !important; */
    width: inherit;
    margin-bottom: 5px;
    color: #f15a24;

}
.iteam{
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap ;
    justify-content: center;
    align-self: center;
    min-height: 400px;
    max-width: 936px;
}
.row{
    display: flex;
    flex-wrap: wrap ;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
}
.iteam-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.iteam-container:hover{
    transition: transform 0.8s ease-in-out;
    transform: scale(1.1);
}
.mark{
    height: 100px;
    width: 468px;
    border-radius: 8px;
    border: 1px solid rgba(0,97,61,.2);
    background-color: #f0f0f0;
    align-items: center;
    margin-bottom: 24px;
    position: relative;
    padding: 0;
    box-shadow: 1px 2px 4px 0 rgb(0 0 0/30%);
    transition: transform .4s ease 0s;
}
.mark >img{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 150px;
    -o-object-fit: contain;
    object-fit: contain;
    float: left;
    margin-left: -2px;
    height:100% ;
    min-width: 150px;
    min-height: 76px;
    border-radius: 8px;

}
.text{
    width: 100%;
    font-size: larger; 
    padding-right: 8px;
    color: #ef5222
}
.text1{
    width: 100%;
    font-size: larger; 
    padding-right: 8px;
    color: #00613d
}


.detail{
    display: flex;
    justify-content: center;
}
.detail svg {
    margin-right: 5px; /* hoặc sử dụng margin-left */
    margin-left: 10px;
}
.h3{
    color: #ef5222 !;
}


/* background */
.Cart_background{
    height: 0;
    overflow: visible;
    z-index: -10;
    position: relative;
    width: 100%;
}
.bg1{
    height: 500px;
    position: absolute;
    top: -800px;
    left: 0;
}
.bg2{
    height: 500px;
    position: absolute;
    top: -800px;
    right: 0;
}
.bg3{
    margin-top: 13%;
    width: 100%;
    position: absolute;
    z-index: -1;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    border: 0;
}