.contact_call {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    left: 10px;
    /* z-index: 999; */
    transform: translate(20px, -20px);
    z-index: 9999;
}

.contact_call a {
    display: block;
    width: 60px;
    height: 60px;
    background: #2474e5;
    border-radius: 50%;
    position: relative;
}

.contact_call a::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background: linear-gradient(135deg, #2474e5, #00bcd4);
    left: -20px;
    top: -20px;
    opacity: 0.2;
    border-radius: 50%;
    animation: 2s infinite phone-bg;
}

.phone_icon {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
    animation: 1.5s infinite phone-animation;
    color: white;
}

.hotline-container {
    position: absolute;
    width: 200px; 
    bottom: 130%;
    left: 50%;
    transform: translateX(-20%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    border: 2px solid #2474e5;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .contact_call:hover .hotline-container {
    opacity: 1;
    visibility: visible;
  }

.hotline {
    color: #2474e5;
    font-weight: bold;
}

@keyframes phone-bg {
    0% {
        transform: scale(0.7);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.7);
    }
}

@keyframes phone-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(25deg);
    }

    20% {
        transform: rotate(-25deg);
    }

    30% {
        transform: rotate(25deg);
    }

    40% {
        transform: rotate(-25deg);
    }

    50% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes hotline-animation {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}