.policy{
    display: grid;
    place-items: center;
    height: 60vh;
}
.policy_container{
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 300px;
}
.head_policy{
  font-weight: 800;
  font-size: min(5vw,40px);
  text-align: center;
  color: #f15a24;
  white-space: nowrap;
  max-width: 100vw;
  text-transform: uppercase;
}
.text_polycy a {
    text-decoration: none;
    color: #0000ff;
  }

.text_polycy {
    font-size: 20px;
    line-height: 1.5;
    display: block;
}
.text_polycy strong {
    font-weight: bold;
}
.text_polycy p {
    margin-bottom: 10px;
}