.navBar {
    width: 100%;
    height: 33;
    background-color: #f1e6d6;
    height: var(--nav-height);
    position: absolute;
    /* color: black; */
}

/* .navBar__img-lef { */
/* display: flex; */
/* position: absolute;
    top: 0;
    left: 0;
    right: calc(100% - 100px);
    bottom: 0;
    /* background-image: url('https://storage.googleapis.com/fe-production/icon_vxr_full.svg');  */
/* background-repeat: no-repeat;
    background-position: center; */
*/

/* } */
.navBar__img-lef {
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    /* Thay đổi giá trị kích thước tùy theo thiết kế */
    height: 100%;
    /* Thay đổi giá trị kích thước tùy theo thiết kế */
    /* background-image: url('https://storage.googleapis.com/fe-production/icon_vxr_full.svg');  */
    background-repeat: no-repeat;
    background-position: center;
}

/* .logo{
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    animation: float 6s ease-in-out infinite;
}
.logo__img{
    width: 100%;
    height: auto;
} */

/* @keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0,6);
        transform: translateY(0px);
    }
    50%{
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0,2);
        transform: translateY(-20px);
    }
    100%{
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0,6);
        transform: translateY(0px);
    }
} */
.container {
    height: 100%;
    display: flex !important;
}

.logo {
    width: 100px;
    height: 18px;
    margin-left: -90px;
    min-width: 150;
    font-size: 15px;
    /* box-sizing: border-box; */
    /* border: 5px white solid; */
    /* border-radius: 50%; */
    overflow: hidden;
    /* animation: float 6s ease-in-out infinite; */
}

.logo__img {
    /* width: 100%; */
    /* height: 100px; */
    cursor: pointer;
    height: 50px;
    width: 200px;
    background-image: url(../../assets/img/logo.png);
    /* background-image: url(../../../assets/img/navbar/logo.png); */
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    margin-right: 10px;
}

.contact {
    flex: 1;
    display: flex;
}

.contact__phone {
    display: flex !important;
    align-items: center;
    font-size: 18px;
    margin-right: 30px;
    cursor: pointer;
    /* justify-content: space-between; */
    /* justify-Content:space-around;
    alignItems:center; */
    /* > svg{
                    font-size: 18px;
                    margin-right: 6px;
                } */
}

.auth {
    display: flex;
    align-items: center;
    background-color: #f1e6d6;
    width: 100%;
    height: 100px;
    /* border-radius: 10px; */
    color: white;
    /* box-shadow: 0 0 5px #0d2e59, 0 0 25px #0d2e59; */
}

.auth.icon {
    width: 100px;
    height: 100px;
}