.navBar {
    width: 100%;
    height: 33;
    background-color: #ffffff;
    height: var(--nav-height);
    position: absolute;
    /* color: black; */
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}


.navBar__img-lef {
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    /* Thay đổi giá trị kích thước tùy theo thiết kế */
    height: 100%;
    /* Thay đổi giá trị kích thước tùy theo thiết kế */
    /* background-image: url('https://storage.googleapis.com/fe-production/icon_vxr_full.svg');  */
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    height: 100%;
    display: flex !important;
}

.logo {
    width: 100px;
    height: 18px;
    /* margin-left: -160px; */
    min-width: 150;
    font-size: 15px;
    overflow: hidden;
}

.logo__img {
    /* width: 100%; */
    /* height: 100px; */
    cursor: pointer;
    height: 50px;
    /* width: 250px; */
    background-image: url(../../assets/img/logoVEXE.jpeg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    overflow: hidden;

}

.contact {
    flex: 1;
    display: flex;
}

.contact__phone {
    display: flex !important;
    align-items: center;
    font-size: 18px;
    margin-right: 30px;
    cursor: pointer;

}

.auth {
    display: flex;
    align-items: center;
    background-color: #f1e6d6;
    width: 100%;
    height: 100px;
    /* border-radius: 10px; */
    color: white;
    /* box-shadow: 0 0 5px #0d2e59, 0 0 25px #0d2e59; */
}

.auth.icon {
    width: 100px;
    height: 100px;
}
.head_cart:hover {
    color: rgb(0, 96, 196);
    cursor: pointer;
  }

.logout-btn {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  
  
  
  
  
  