.seat{
  
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 0;
}
/* Ghế được chọn */
.seat__note_choose svg rect{
    stroke: rgb(39, 174, 96);
    fill: rgb(139, 229, 176);
}
.seat__note_choose svg path{
    stroke: rgb(2, 97, 42);
    fill: transparent;
}

/* Ghế k bán */
.seat__note_null svg .rect__seat_null {
    cursor: not-allowed;
    fill: rgb(121, 111, 111);
}
.seat__note_null svg .icon-disabled {
    fill: rgb(242, 242, 242);
    cursor: pointer;
}
.seat__note_null svg .icon-selected {
    fill: rgb(39, 174, 96);
    cursor: pointer;
    
}
/* ChooseSeat */
.gird__note{
    padding-top: 5rem;
}
.gird__note .stack__note{
    margin-top: 1rem;
}
/* Info Trips*/
.info__main .v__info{
    display: flex;
    justify-content: space-between;
}
.v__info .type{
    text-align: left;
}
.v__info .ten__xe{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.v__info .star, .star{
    border-radius: 2px;
    background: rgb(0, 96, 196);
    color: white;
    font-size: 14px;
    margin: 10px;
    padding: 4px 5px;
}

.v__info .cost{
    font-size: 20px;
    color: rgb(0, 96, 196);
    font-weight: bold;
}
.lich__trinh{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 20px;
}
.lich__trinh .start__end{
    position: absolute;
    top: 0;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Roboto Slab', serif !important;
    font-weight: 400;
}
.start__end .noi__den{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 20px;
}
.start__end .time{
    font-size: 14px;
    font-weight: none;
    padding: 5px 0px 10px 0;
    color: #3b6100;
}
.lich__trinh .ghe__trong{
    position: absolute;
    bottom: 50px;
    right: 0px;
    text-align: right;
    color: red;
}
.lich__trinh .tabs{
    position: absolute;
    bottom: -5%;
    right: 0;

}
.tabs .tabs__link{
    margin-right: 4rem;
    -webkit-text-decoration: underline !important;
    color: #0d6efd;
    text-decoration: underline !important;
    font-weight: 500;
}
.tabs .tab__btn{
    background-color: #e65100;
    color: wheat;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
/* Carousel */
.container{
    width: 100%;
    height: 100%;
}
.container .glider-container{
    width: 550px;
    height: 300px;
}
.container .glider-container .slide img{
    display: flex;
    height: 70%;
    width: 100%;
    justify-content: center;
    object-fit: fill;
}
.btn__arrow{
    display: flex;
    text-justify: center;
    justify-content: center;
}
.custom-arrow{
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
}
/* TabsUI */
.location{
    display: flex;
    justify-content: space-between;
}

/* search */
.TextField{
    font-size: 20px !important;
}
.css-1ilul2d-MuiTableCell-root{
    padding: 0 !important;
}
.MuiTableCell-root{
    padding: 0 !important;
}

/* Trip.jsx */
.ctn__trip{
    background: #fff !important;
}
.ctn__trip .css-4pdmu4-MuiBreadcrumbs-ol {
    padding-top: 6rem;
}
.ctn__trip .FormGroup{
    padding: 2rem;
}
.ctn__trip .css-knlq9b-MuiFormControlLabel-root{
    margin-left: 0.5rem;

}
.ctn__trip .Checkbox{
    border: 1px solid black;
}
.ctn__trip .cnt__filter{
    border: 1px solid rgb(192, 192, 192);
    padding: 0 !important; 
}
.ctn__trip .filter{
    color: black;
    font-weight: 500;
    font-size: 18px;
    background-color: #a8ebe4aa;
    border-color: #ddd;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}
.cnt__filter .filter__title{
    margin-left: 1rem;
    cursor: pointer;
    color: #111;
    font-size: 18px;
    text-decoration: underline;
}
.ctn__trip .cnt__info{
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
    padding: 0 0 2rem 0;
    margin: 0px;
    display: inline;
}

.ctn__trip .form__search{
    padding: 4rem !important;
}
.ctn__trip .search__input{
    padding: 10px;
    transition-duration: 500ms;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid white;
    overflow: hidden;
}

.result .css-1mijgri-MuiSvgIcon-root{
    transform: translateY(.5rem);
}

.cnt__info .trip__length{
    font-weight: normal;
    color: #444;
    font-style: italic;
}
/* .ctn__trip .search__input{

} */
.typo__sort{
    cursor: pointer;
}
.typo__sort.selected {
    color: #0d47a1;
    font-weight: bold;
}
.css-17nabyk-MuiTypography-root{
    transform: translateY(-1rem);
    
}
.typo__sort .css-1mijgri-MuiSvgIcon-root{
    transform: translateY(.8rem);
}

.css-1vqs9o7-MuiButtonBase-root-MuiButton-root{
    width: 8rem;
}
.time__arrive{
    margin-bottom: 0.5rem;
}
.container__sort{
    margin-top: 1rem;

}
.container__sort .css-w5nres-MuiButtonBase-root-MuiButton-root{
    width: 10rem;
    color: rgba(255, 255, 255, 0.76);
    background-color: rgb(0, 96, 196) !important;
    box-shadow: none;
    border-radius: 2px;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    cursor: pointer;
    margin: 1rem;
}
.css-1uq6pp2-MuiStack-root{
    margin-left: 1.5rem;
    cursor: pointer;
}
/* InfoTrip.jsx */
.listtrip{
    padding: 1rem;
    line-height: 1.5;
    /* border: 1px solid red; */
    border-radius: 4px;
    border: 1px solid rgb(192, 192, 192);
    margin-bottom: 16px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.css-p6k7tr-MuiPaper-root{
    border-radius: 0 !important;
    box-shadow: none !important;
}
/* ListSeat.jsx css cho sơ đồ ghế */
/* List Seat */
.table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.table .total{
    font-size: 16px;
    font-weight: bold;

}
.seat__note_single{
    margin-top: 15rem;
}
.seat__note_border10{
    border-right: 3px solid !important;
    transform: translateX(-5px);
}
.seat__note_border6{
    border-right: 3px solid !important;
    transform: translateX(-5px);
}
.seat__note_border63{
    transform: translateX(10px);
    
}
.seat__note_border40{
    transform: translateX(30px);
}
.seat__note_border4{
    border-right: 3px solid !important;
}
/* ui ds + total */
.css-1iurrjr-MuiStack-root{
    transform: translateX(-10rem);
    margin-top: 2rem;
}
/* button tiếp tục */
.css-1567iro-MuiStack-root{
    border: none;
    border-radius: 24px;
    background-color: #ef5222;
    padding: .5rem;
    transform: translate(26rem, -3rem);
    width: fit-content;
}
.css-knwngq-MuiButtonBase-root-MuiButton-root{
    color:wheat  !important;
    font-weight: 500;
    font-size: 16px !important;
}
/* Comment.jsx */
.css-pn2k96-MuiStack-root{
    margin: 0 !important;
}
.css-1mijgri-MuiSvgIcon-root{
    font-size: 3.25rem !important;
}
.list__comment{
    margin-top: 1rem;
    border-bottom: 1px solid rgb(224, 224, 224);
}