.seat{
    display: flex;
    align-items: center;
}

.seat .note__name{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
/* Ghế được chọn */
.seat__note_choose svg rect{
    stroke: rgb(39, 174, 96);
    fill: rgb(139, 229, 176);
}
.seat__note_choose svg path{
    stroke: rgb(2, 97, 42);
    fill: transparent;
}
/* Ghế k bán */
.seat__note_null svg .rect__seat_null {
    cursor: not-allowed;
    fill: rgb(121, 111, 111);
}
.seat__note_null svg .icon-disabled {
    fill: rgb(242, 242, 242);
}
.seat__note_null svg .icon-selected {
    fill: rgb(39, 174, 96);
}
/* Info Trips*/
.info__main .v__info{
    display: flex;
    justify-content: space-between;
}
.v__info .type{
    text-align: left;
}
.v__info .ten__xe{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.v__info .star, .star{
    border-radius: 2px;
    background: rgb(0, 96, 196);
    color: white;
    font-size: 14px;
    margin: 10px;
    padding: 4px 5px;
}

.v__info .cost{
    font-size: 20px;
    color: rgb(0, 96, 196);
    font-weight: bold;
}
.lich__trinh{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 20px;
}
.lich__trinh .start__end{
    position: absolute;
    top: 0;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Roboto Slab', serif !important;
    font-weight: 400;
}
.start__end .noi__den{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 20px;
}
.start__end .time{
    font-size: 14px;
    font-weight: none;
    padding: 5px 0px 10px 0;
}
.lich__trinh .ghe__trong{
    position: absolute;
    bottom: 50px;
    right: 0px;
    text-align: right;
    color: red;
}
.lich__trinh .tabs{
    position: absolute;
    bottom: -5%;
    right: 0;

}
.tabs .tabs__link{
    margin-right: 10px;
    -webkit-text-decoration: underline !important;
    color: #0d6efd;
    text-decoration: underline !important;
    font-weight: 500;
}
.tabs .tab__btn{
    background-color: #e65100;
    color: wheat;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
/* Carousel */
.container{
    width: 100%;
    height: 100%;
}
.container .glider-container{
    width: 550px;
    height: 300px;
}
.container .glider-container .slide img{
    display: flex;
    height: 70%;
    width: 100%;
    justify-content: center;
    object-fit: fill;
}
.btn__arrow{
    display: flex;
    text-justify: center;
    justify-content: center;
}
.custom-arrow{
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
}
/* TabsUI */
.location{
    display: flex;
    justify-content: space-between;
}
/* List Seat */
.table {
    width: 100%;
    height: 100%;
}
/* .table .btn__tt{
    position: relative;
    width: 100%;
    height: 100%;
} */
.table .btn__tt .total{
    font-size: 16px;
    font-weight: bold;
    /* margin-top: 5px;
    position: absolute;
    top: 30%;
    left: 25%; */
}
.table .btn__tt .btn{
    color: white;
    /* position: absolute;
    right: 0;
    top: 100%; */
}
/* search */
.TextField{
    font-size: 20px !important;
}
.css-1ilul2d-MuiTableCell-root{
    padding: 0 !important;
}
.MuiTableCell-root{
    padding: 0 !important;
}